@charset "utf-8";
@font-face{
	font-family: 'VAZIR';
	font-display:swap;
	src: url("../fonts/Vazir.eot")format('embeded-opentype'),
   /* url("../fonts/Yekan.svg#yekan")format('svg'),*/
    url("../fonts/Vazir.ttf")format('truetype'),
    url("../fonts/Vazir.woff")format('woff'),
    url("../fonts/Vazir.woff2")format('woff2');
}

html{--maincolor:#ae0b4f;--submenuColor:#d2dae2;scroll-behavior: smooth}
*{margin:0;padding:0;direction: rtl;font-family: 'VAZIR'}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
     box-shadow: 0 0 0 white !important; 
}
.custom-ul{
	    display: flex;
    justify-content: space-between;
    width: 85%;
	
}
.width-content{width: fit-content; }
.fs-8{font-size: 0.8rem!important;}

.fColor{color: #666666!important}
.nav-a:hover{color: var(--maincolor)!important}
nav i{color: white;}
.direction-ltr{direction: ltr}
.astyle{
    background-color: var(--maincolor);
    border-radius: 0.8em;
    padding: 0.3% 1.2%;
    color: white;
	 border: 0px;
}
.animate{position: relative;overflow: hidden}
.animate:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    transition: height 0.3s;
    background: #78113c;
}
.animate:hover:after{
	height: 100%
}

.animate2{position: relative;overflow: hidden}
.animate2:after{
	 content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    transition: height 0.3s;
	border-radius: 0.8em;
    background: #0a0a80;
	
}
.animate2:hover:after{
	height: 100%
}
.animate2:hover{
	color:white
}
.z-index-1{
	position: relative;
    z-index: 1;
}

.astyle2{
    background-color: white;
    border-radius: 0.8em;
    padding: 0.8% 2.5%;
   color: var(--maincolor);
	border: 0px;
}
.w-15{
	width: 15%
}

.back-image{
	background-image: url("../img/sec3-bg.png");
}
.font-color{
	color: var(--maincolor)!important
}

.font-color2{
	color:#96a2a8
}
.badge-inner:hover{background: #78113c}
.back-color{
	background-color: var(--maincolor);
	color:white
}
.box-shadow{
	    box-shadow: 2px 6px 20px 0 #e8e8e8!important;
	
}

.bshadow:hover{box-shadow: 0 15px 29px 0 rgb(41 41 41 / 15%);}
.inner:hover>div{opacity: 1 !important;transition: 1s}
.inner>div{transition: 1s}
.inner:hover .inner-inner{display: none}


.inner{height: 160px;box-shadow: 0 0.03rem 0.06rem rgb(0 0 0 / 10%), 0 0.1rem 0.3rem rgb(0 0 0 / 10%);transition: 1s;background-size: 100% 100%;}
.container-project div:nth-child(1) .inner{
	background-image: url("../img/sec51.jpg");
}
.container-project div:nth-child(2) .inner{
	background-image: url("../img/sec52.jpg");
}
.container-project div:nth-child(3) .inner{
	background-image: url("../img/sec53.jpg");
		
}
.container-project div:nth-child(4) .inner{
	background-image: url("../img/sec54.jpg");
}
.container-project div:nth-child(5) .inner{
	background-image: url("../img/sec55.jpg");
}
.container-project div:nth-child(6) .inner{
	background-image: url("../img/sec56.jpg");
}
.container-project div:nth-child(7) .inner{
	background-image: url("../img/sec57.jpg");
}
.container-project div:nth-child(8) .inner{
	background-image: url("../img/sec58.jpg");
}
.container-project div:nth-child(9) .inner{
	background-image: url("../img/sec59.jpg");
}


.sec8{
	background-image: url("../img/sec8.png");
}

.social-icon{
	padding: 10px 12px;
	cursor: pointer;
	transition: 1s;
}
.twitter,.telegram{
	color:#0e8ed4;
}
.twitter:hover,.telegram:hover{
	background-color: #0e8ed4;
	color:white;
	transition: 1s
}

.whatsapp{
	color:#25d366;
}
.whatsapp:hover{
	color:white;
	background-color:#25d366 ;
	transition: 1s
}
.instagram{
	color:black;
}
.instagram:hover{
	color:white;
	background: radial-gradient(circle farthest-corner at 35% 100%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 10% 140%, #feda7e, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e42e66 50%, #fa5332 70%, #ffdc80 100%);
	transition: 1s;
}
.hover-dark:hover{
	color:black
}
.envelope:hover{
	color:white;
	background-color: #96a2a8;transition: 1s;
}
.car-sec4{ box-shadow: 0 0.02rem 0.04rem rgb(0 0 0 / 10%), 0 0.07rem 0.2rem rgb(0 0 0 / 10%);}
.car-sec4:hover{transform: scale(1.2);transition: 1s}


.up{background: rgba(174,11,79,0.35);color:white}
.up:hover{background-color:var(--maincolor);transition: 0.5s}
.a-hover:hover{color: #7d0e3c!important;}
.span-hover:hover span{background-color:#7d0e3c!important}
/* ------ radcam hover--------*/
.sec-radcam1{background-color: #eeb05d;}
.sec-radcam2{background-color: #eb6362;}
.sec-radcam3{background-color: #62b965;}
.sec-radcam4{background-color: #53a7ea;}

/*.sec-radcam:hover .sec-radcam1{transform:scale(0.5);opacity: 0;transition:transform 1s , opacity 2s } */
.sec-rad1:hover .sec-radcam1{transform:scale(0.5);opacity: 0;transition:transform 1s , opacity 1s } 
.sec-rad2:hover .sec-radcam2{transform:scale(0.5);opacity: 0;transition:transform 1s , opacity 1s } 
.sec-rad3:hover .sec-radcam3{transform:scale(0.5);opacity: 0;transition:transform 1s , opacity 1s } 
.sec-rad4:hover .sec-radcam4{transform:scale(0.5);opacity: 0;transition:transform 1s , opacity 1s } 


.sec-rad1:hover .translate-hover{transform: translateX(35px);transition: 1s}
.sec-rad2:hover .translate-hover{transform: translateX(35px);transition: 1s}
.sec-rad3:hover .translate-hover{transform: translateX(35px);transition: 1s}
.sec-rad4:hover .translate-hover{transform: translateX(35px);transition: 1s}

.transition{transition: 1s}


.sec-rad1{background-color: #f0a540}
.sec-rad2{background-color: #d9534f;}
.sec-rad3{background-color: #4caf50;}
.sec-rad4{background-color: #2196f3;}
.justify{text-align: justify}




.rounded-custom{
	border-radius:8px 
}

.height{height: 100px}







input::placeholder ,textarea::placeholder{
	color: #333333ad !important;
  	opacity: 0.5;
	font-size: 12px;
  	text-align: right;
}
.select-custom{
	font-size: 12px;
	padding-right: 0 !important;
	text-indent: 5px;
}

.i-form{font-weight: 900!important}
.input-style{
	border-right: none;
    padding-right: 0px!important;
	color:#333333ad !important;
	
}
input:focus{
	box-shadow:none ;
	box-shadow: 0 0 0 0.25rem white;
	
}
.i-input:before{font-weight: 900 !important;}
.i-select:before{font-weight: 900!important}



.i-cost{
	position: absolute;
    font-size: 0.8rem;
    top: 15px;
    margin: 0px;
    padding: 0 0.8rem;
    color: #333333;
}

.i-cost:before{
	content: "\f2c6";
    position: absolute;
    text-align: center;
    top: 8px;
    color: black;
    z-index: 7;
    right: 37%;
    font-weight: 900 !important;
    font-size: 1rem;
}
.select-cost{padding-right: 29px !important;}



.secj{
	background-image: url("../img/secj.jpg");
	min-height: 100vh;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover
}

.secj .inner{ background: -webkit-linear-gradient(right,rgba(255,255,255,0) 0,rgba(255,255,255,0.3) 20%,rgba(255,255,255,0.3) 60%,rgba(255,255,255,0) 100%);}

.text-shadoww{text-shadow: 0 3px 5px rgb(0 0 0);}

.top_position{top: -28px;}



.submenu {
    position: absolute;
    background-color: antiquewhite;
    top: 134px;
    right: 2px;
    display: none;
	z-index: 5;
    min-width: 12rem;
	box-shadow: 0 2px 3px rgb(0 0 0 / 10%), 0 5px 10px rgb(0 0 0 / 20%);
	background: #ffffff;
    color: #666666;
}
.li-container{position: relative;color: #666666;cursor: pointer}
.li-container:hover .submenu{display: block;animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}

.li-after{margin:0px 5px}
.a-after{    
    display: block;
    position: absolute;
    bottom: 10px;
    left: -20px;
	background-image: url("../img/caret-down.svg");
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-2-9 13:28:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------

 */
.slide-top {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
/* ----------------------------------------------
* ---------------------------------------------- */




.submenu-inner{position: absolute;
    background-color: aquamarine;
    right: 194px;
    top: 0px;
	display: none;
	z-index: 5;
    width: 100%;
	box-shadow: 0 2px 3px rgb(0 0 0 / 10%), 0 5px 10px rgb(0 0 0 / 20%);
	background: #ffffff;
    color: #666666;
}
.li-hover:hover{background: #ae0b4f;color: #ffffff;}
.li-hover:hover>.x{ color: #ffffff !important;}
.li-container-inner:hover{background: #ae0b4f;color: #ffffff;}
.li-container-inner:hover>.x{ color: #ffffff !important;}
.li-container-inner{position: relative;color: #666666;}
.li-container-inner:hover .submenu-inner{display: block}
.padding-li{padding: 6px 4px;}

.border-b{
border-bottom: 2px solid var(--maincolor)!important;;

}
.colorRed{color: var(--maincolor)!important;}
input , select, textarea{border:none !important;line-height: 3rem !important;box-shadow: none !important}
.input-group>i{border:none !important}
input:focus , select:focus , textarea:focus{border-color: none!important }

.top-5:before{position:relative;top:15px}

.owl-nav{position: relative !important}
 .owl-prev{   
	position: absolute !important;
    z-index: 9 !important;
	 right: -20px !important;
	 bottom: 9px !important;
}
.owl-next{  
	position: absolute !important;
    z-index: 9 !important;
	 left: -20px !important;
	bottom: 9px !important;
}
 .owl-prev span,.owl-next span{
	
	    font-size: 2rem !important;
    position: relative !important;
}
/* ----------------------------------------------


* ---------------------------------------------- */
header>nav>button>div{position: relative;width:22px;height: 18px;}
header>nav>button>div>span{width: 100%;height:3px;background-color: black;content:'';position: absolute;display: block}
header>nav>button>div>span:nth-child(1){top:0;left: 0}
header>nav>button>div>span:nth-child(2){top:7px;background-color: black}
header>nav>button>div>span:nth-child(3){top:14px;left: 0}
.opacity{opacity: 1}
.span-1{transform: rotatez(315deg);top: 0px;left: 1px !important;} 
.span-3{transform: rotateZ(45deg) translateY(-6px);top: 4px !important;left: -3px !important;} 

.i-footer{
	display: inline-flex;
    justify-content: center;
    align-items: center
}

.footer-line{ }
.footer-line:after{
	content: '';
    width: 62%;
    position: absolute;
    background-color: black;
    height: 1px;
    bottom: 33px;
}

.footer-line2:after{
	width: 74% !important;
}
@media (max-width: 991.98px) { 
.submenu {
     position: static; 
    display: none;
    box-shadow: none;
    background: transparent;
    color: #666666;
}	
.li-container:hover .submenu {
    display: none;
    animation: none;
	   
}
	.li-container{
		position: static;
		padding-right: 5px;
		 margin-bottom: 10px;
	}
	.a-small-nav{
		position: relative;
		padding-right: 10px;
	}
	.click-d{
		display: block!important;
	}
.padding-li{padding: 6px 15px;}
.submenu-inner{
	position: static;
	z-index: 5;
    width: 100%;
	box-shadow: none;
	background: transparent;
    color: #666666;
}
.li-container-inner:hover .submenu-inner{
	position: relative;
    z-index: 5;
    width: 100%;
    box-shadow: none;
    background: transparent;
    color: #666666;
    display: none;
    right: 0;
	}
	.fColor2{
	color:	#7d0e3c!important
	}	
.a-after{   

    display: block;
    position: absolute;
    top: 0;
    left: 11px;
	background-image: url("../img/caret-down.svg")
	}
.transform-180{transform: rotate(180deg)}
.custom-ul {
    display: flex;
    justify-content: space-between;
     width: 100%;
	
}
.li-container-inner{position: static;color: #666666;}


	
.span-1{transform: rotatez(315deg);top: 8px !important;left: 1px !important;} 
.span-3{transform: rotateZ(45deg) translateY(-6px);top: 12px !important;left: -3px !important;} 
	
}